# ======================
# Environment variables
# ======================
.env

# ======================
# Python virtual env
# ======================
.venv/
venv/
__pycache__/
*.pyc

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
dist-ssr/

# ======================
# Logs
# ======================
*.log

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
